<?xml version="1.0" encoding="utf-8"?>
<web-app>
	<servlet>
		<servlet-name>ResServlet</servlet-name>
		<servlet-class>de.uka.ipd.idaho.easyIO.web.ResourceServlet</servlet-class>
		<init-param>
			<param-name>dataPath</param-name>
			<param-value>resData</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResServlet</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PageServlet</servlet-name>
		<servlet-class>de.uka.ipd.idaho.easyIO.web.StaticPageServlet</servlet-class>
		<init-param>
			<param-name>dataPath</param-name>
			<param-value>staticData</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>PageServlet</servlet-name>
		<url-pattern>/static/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PageServlet</servlet-name>
		<url-pattern>/staticPopup/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BinoBank</servlet-name>
		<servlet-class>de.uka.ipd.idaho.binoBank.BinoBankServlet</servlet-class>
		<init-param>
			<param-name>dataPath</param-name>
			<param-value>bbkData</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>BinoBank</servlet-name>
		<url-pattern>/bbk</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BinoBank</servlet-name>
		<url-pattern>/bbk/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TxnBank</servlet-name>
		<servlet-class>de.uka.ipd.idaho.txnBank.TxnBankServlet</servlet-class>
		<init-param>
			<param-name>dataPath</param-name>
			<param-value>txnData</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>TxnBank</servlet-name>
		<url-pattern>/txn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TxnBank</servlet-name>
		<url-pattern>/txn/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RefBank</servlet-name>
		<servlet-class>de.uka.ipd.idaho.refBank.RefBankServlet</servlet-class>
		<init-param>
			<param-name>dataPath</param-name>
			<param-value>rbkData</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>RefBank</servlet-name>
		<url-pattern>/rbk</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefBank</servlet-name>
		<url-pattern>/rbk/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TnuBank</servlet-name>
		<servlet-class>de.uka.ipd.idaho.tnuBank.TnuBankServlet</servlet-class>
		<init-param>
			<param-name>dataPath</param-name>
			<param-value>tnuData</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>TnuBank</servlet-name>
		<url-pattern>/tnu</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TnuBank</servlet-name>
		<url-pattern>/tnu/*</url-pattern>
	</servlet-mapping>
</web-app>